<mat-drawer-container class="example-container" autosize 
[style]="
  width: 100%;
  height: auto;
  background-image: url('https://res.cloudinary.com/dzbpfuieg/image/upload/v1616549192/iswn9m5wv2gw1znq6lmd.jpg');
  background-size: cover;
">
    <mat-drawer #drawer [mode]="'over'" class="sidenav" mode="side" position="end">
      <sidenav></sidenav>
    </mat-drawer>

    <div class="sidenav-content">
      <div [ngClass]="{'contenido-colum': colum, 'contenido-row': !colum}">
          <grupos></grupos>
      </div>
      <div class="contenido-btn" *ngIf="isAuth">
        <button class="menu" type="button" mat-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </div>
</mat-drawer-container>