<div class="contnido-txt-btn">
  <h1>Perfil</h1>
  <!-- <button mat-icon-button (click)="editarPerfil()">
    <mat-icon>edit</mat-icon>
  </button> -->
</div>
<div class="contenido-perfil">
  <h3>{{name}}</h3>
  <img [src]="img" [alt]="name">
  <h3>{{email}}</h3>
  <button mat-raised-button color="warn" (click)="auth.logout()">Cerrar sesión</button>
</div>
<div class="contnido-txt-btn">
  <h1>Tarjetas y Enlaces</h1>
</div>
<ajuste-tarjeta></ajuste-tarjeta>
<div class="contnido-txt-btn">
  <h1>Ajustes</h1>
</div>
<div class="contenido-toggle">
  <mat-slide-toggle (click)="cambiarToggle('ajusteSubnombre','ajuste-subnombre')" [checked]="ajusteSubnombre" [(ngModel)]="ajusteSubnombre">Subnombre</mat-slide-toggle>
  <mat-slide-toggle (click)="cambiarToggle('ajusteKanji','ajuste-kanji')" [checked]="ajusteKanji" [(ngModel)]="ajusteKanji">Kanji</mat-slide-toggle>
</div>
<!-- <mat-radio-group
  aria-labelledby="radio-group-label"
  class="radio-group"
  (ngModelChange)="ajusteTarjeta($event)"
  [(ngModel)]="favoriteSeason">
  <mat-radio-button class="radio-button" *ngFor="let season of seasons" [value]="season">
    {{season}}
  </mat-radio-button>
</mat-radio-group> -->