// Fuentes
$fuentePrincipal: 'Gothic A1', sans-serif;

// Media Queries
$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 420px;
$tableta: 768px;
$laptop-s: 942px;
$laptop-m: 1024px;
$laptop-l: 1440px;
$desktop-k4: 1200px;

// Colores
$gris: #333;
$blanco: #ffffff;
$negro: #000000;
