<div cdkDropList class="list" (cdkDropListDropped)="drop($event)">
  <div class="box" *ngFor="let grupo of grupos" cdkDrag>
    <div class="custom-placeholder" *cdkDragPlaceholder></div>
    {{grupo.name}}
  </div>
</div>
<div class="contenido-btn">
  <ng-container *ngIf="grupos.length < 4">
    <button mat-raised-button color="basic" (click)="crearGrupo()">
      <mat-icon>add</mat-icon> Agregar tarjeta
    </button>
  </ng-container>
  <button mat-raised-button color="basic" (click)="agregarEnlace()">
    <mat-icon>add</mat-icon> Agregar enlace
  </button>
</div>