<ng-container *ngIf="cargando; else ok">
    <div class="contenido-load">
        <mat-spinner></mat-spinner>
    </div>
</ng-container>
<ng-template #ok>
    <ng-container *ngIf="this.colum; else row">
        <div class=".container-fluid">
            <div class="columna-grupo" [ngStyle]="{'width': contador+'rem'}">
                <ng-container *ngFor="let grupo of grupos">
                    <div class="example-box">
                        <app-columna [listado]="grupo"></app-columna>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-container>
    <ng-template #row>
        <div class="columna-grupo-row">
            <ng-container *ngFor="let grupo of grupos">
                <div class="example-box">
                    <app-columna [listado]="grupo"></app-columna>
                </div>
            </ng-container>
        </div>
    </ng-template>
</ng-template>
<div class="contenido-btn">
    <a href="https://luizun.com/#/cv/Inicio" target="_blank">by Luizun</a>
    /2021/
</div>