@import '../styles';

.contenido {
  width: 85%;
  display: grid;
  margin: inherit;
  // background: #18191a;
  justify-self: center;
  @include tableta {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    justify-content: center;
  }
  @include desktop {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    justify-content: center;
  }
}

.contenido-btn {
  font-size: 10px;
  display: grid;
  position: absolute;
  bottom: 0;
  right: 5px;
  // transform: translate(-50%, -50%);
  justify-content: center;
  justify-items: center;
  color: snow;
  a {
    color: snow;
  }
}