<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu" class="caja">
    <boton [text]="'Copy url'" [icon]="'content_copy'" *ngIf="!grupo" (click)="copiarEnlace()"></boton>
    <boton [text]="'Quitar'" [icon]="'close'" *ngIf="!grupo" (click)="eliminar(false)"></boton>
    <boton [text]="'Editar'" [icon]="'edit'" (click)="edit()"></boton>
    <boton [text]="'Eliminar'" [icon]="'delete'" *ngIf="listadosSrv.totalTarjetas > 1 || !grupo" (click)="eliminar(true)"></boton>
</mat-menu>