<ng-container *ngIf="grupo; else dato">
  <div class="contenido-datos">
    <div class="example-container">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput [value]="info.name" (keyup)="changeName($event)" maxlength="20">
      </mat-form-field>
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item.title}}</div>
      </div>
    </div>
    
    <div class="example-container">
      <!-- <h2>Todos</h2> -->
      <div class="contenido-boton">
        <!-- <button mat-mini-fab color="primary" (click)="agregarEnlace()">
          <mat-icon>add</mat-icon>
        </button> -->
        <h3 class="tarjeta-title">Tarjetas disponibles</h3>
      </div>
      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of done" cdkDrag>{{item.title}}</div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #dato>
  <form [formGroup]="orderForm">
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput type="text" formControlName="nombre" maxlength="20" (focusout)="autoSubName($event)">
    </mat-form-field>

    <ng-container *ngIf="ajusteSubnombre">
      <mat-form-field>
        <mat-label>Abreviación</mat-label>
        <input matInput type="text" formControlName="subNombre" maxlength="4">
      </mat-form-field>
    </ng-container>

    <ng-container *ngIf="ajusteKanji">
      <mat-form-field>
        <mat-label>Kanji</mat-label>
        <input matInput type="text" formControlName="kanji" maxlength="3">
      </mat-form-field>
    </ng-container>

    <section class="checkbox" *ngIf="listadosSrv.admin">
      <mat-checkbox formControlName="privado">Privado</mat-checkbox>
    </section>

    <mat-form-field>
      <mat-label>URL</mat-label>
      <input matInput type="text" formControlName="url">
    </mat-form-field>

    <ng-container *ngIf="data.type === 'Edit'">
      <div class="contenido-img">
        <ng-container *ngIf="imgPreview; else addImg">
          <img [src]="imgPreview" width="100%" />
          <boton [icon]="'delete'" [text]="'Delete image'" (click)="deleteImg()"></boton>
        </ng-container>
        <ng-template #addImg>
          <ng-container *ngIf="!imageChangedEvent">
            <input class="input-file" type="file" name="file" id="file" accept="image/*" (change)="fileChangeEvent($event)"/>
            <label for="file">
              <span mat-menu-item class="btn">
                <mat-icon>image</mat-icon> Subir imagen
              </span>
            </label>
          </ng-container>
          <image-cropper
              style="width: 23rem;height: 15rem;"
              [imageChangedEvent]="imageChangedEvent"
              [maintainAspectRatio]="true"
              [aspectRatio]="4 / 3"
              format="png"
              (imageCropped)="imageCropped($event)"
              (imageLoaded)="imageLoaded()"
              *ngIf="imageChangedEvent"
          ></image-cropper>
          <boton [icon]="'content_cut'" [text]="'Save'" (click)="cut()" *ngIf="imageChangedEvent"></boton>
        </ng-template>
      </div>
    </ng-container>
  </form>
  <div class="contenido-boton" *ngIf="!imageChangedEvent">
      <boton [icon]="btnLoading ? 'autorenew' : null" [text]="!btnLoading ? data.type : null" [icon]="data.type === 'Edit' ? 'edit' : 'save'" (click)="veryfImage()" [loading]="btnLoading" [desactivado]="!orderForm.valid && !btnLoading"></boton>
  </div>
</ng-template>