<div class="tarjeta-grupo">
  <div class="title-grupo">
    <h4>{{listado.name}}</h4>
    <boton-option [type]="'Edit'" [data]="listado" [grupo]="true"></boton-option>
  </div>
  <div cdkDropList class="list-column" [ngClass]="{'row': !colum}" (cdkDropListDropped)="drop($event)">
    <ng-container *ngFor="let lista of listado.listadoId">
        <div class="box" [ngClass]="{'row': !colum}">
            <app-tarjeta [datos]="lista"></app-tarjeta>
        </div>
    </ng-container>
  </div>
</div>