.contenido {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 0.5rem;
  background: #242526;
  .img {
    object-fit: cover;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
  }
  .contenido-texto {
    display: grid;
    padding-right: 1rem;
    .title {
      font-size: 24px;
      font-weight: 500;
    }
    .subtitle {
      color: #b0b3b8;
      font-size: 14px;
    }
  }
}
.contenido-btn {
  position: absolute;
  right: 0;
  bottom: 0.5rem;
  text-align: end;
  color: snow;
}

.btn-edit {
  position: absolute;
  right: 0;
  top: 0;
}