/* You can add global styles to this file, and also import other style files */
@import 'assets/scss/main.scss';
@import "~ng-zorro-antd/style/index.min.css"; /* Import base styles */
@import "~ng-zorro-antd/button/style/index.min.css";  /* Import one component's styles */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background: #18191a !important;}

*,
*:after,
*:before {
  @include box-sizing(inherit);
}

body {
  margin: 0;
}

// #242526
// #1c1e21